@use '../../styles/vars';

.cards {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  &::after {
    content: '';
    flex: auto;
  }
}


@media screen and (max-width: 640px) {
  .cards {
    justify-content: center;
    padding: 0 1em 0 1em;
  }
}