@use '../../styles/vars';

.card {
  display: flex;
  flex-direction: column;
  background: vars.$color3;
  border-radius: 25px;
  -webkit-box-shadow: inset 1px 1px 5px #fff;
  box-shadow: inset 1px 1px 5px #fff;
  border: 1px solid rgba(0,0,0,.2);
  margin-bottom: vars.$gutter;
  width: 350px;
  height: 600px;
  overflow: hidden;

  &__img {
    background-color: rgb(128, 128, 128);
    width: 100%;
    height: 350px;
    position: relative;
    &__error {
      text-align: center;
      margin-top: 20%;
    }
  }

  &__text {
    padding: vars.$halfGutter;
    &__desc {
      height: 100%;
      display: flex;
      flex-direction: column;

      
      &__item {
        margin-bottom: 1em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    
    &__title {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 1em;

      &__ref {
        color: rgb(109, 109, 109);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .card {
    width: 100%;
  }
}